@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


.sunny {
	background: linear-gradient(-45deg, #fac597, #e39e5f, #dd8174, #9e5259,);
	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}

.rainCloud {
	background: linear-gradient(-45deg, #4797b5, #7da8b8, #a2b5bd, #678d99);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.clouds {
	background: linear-gradient(-45deg, #b0dff5, #80a8e0, #bac6d1, #c9daf2);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.clear {
	background: linear-gradient(-45deg, #faf289,#a3e1f7, #4fcbf7, #f7ec4f );
	// background: linear-gradient(-45deg, #f0e98d, #caeffc, #82d1ed, #f5f1bc);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.snow {
	background: linear-gradient(-45deg, #d9edfc, #cfd9e3, #faf9f5);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.partlyCloudy {
	background: linear-gradient(-45deg, #f0e98d, #b6d7e3, #c9daf2, #dfe5ed, #f5f1bc);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.stormCloud {
	background: linear-gradient(-45deg, #2b2b2b, #131330, #585d76, #968ca9, #b0b5c3);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.wind {
	background: linear-gradient(-75deg,#c9daf2, #a5b9d6, #d0d3d6, #e6edf5);
	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}

.mist {
	background: linear-gradient(-45deg, #28856c, #7db8a4, #a2b5bd, #84c4bb);
	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}
