
.graphContainer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 150px;
}

.graph {
  width: 80%;
  margin: 0 auto;
}

.backdrop {
  width: 150px;
  height: 80%;
  background: white;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  z-index: 10;
}


.chart{
  display:table;
  table-layout: fixed;

  width: 100%;
  height:300px;
  margin:0 auto;
  padding-left: 0;
  background-size: 100% 50px;
  background-position: left top;

  li{
    position:relative;
    display:table-cell;
    vertical-align:bottom;
    height:200px;
  }

  span{
    color: white;
    margin:0 30%;
    display: block;
    animation: draw 1s ease-in-out;
    padding-bottom: 5px;



    &:before{
      position:absolute;
      left:0;right:0;top:100%;
      padding:5px 2px 0;
      display:block;
      text-align:center;
      content:attr(title);
      word-wrap: break-word;
    }

  }

  .noRain {
    background: rgba(255,255,255, 0.42) !important;
  }

  .rain {
    background: transparent !important;
    background-image:
      radial-gradient(rgba(255,255,255, 0.7) 25%, transparent 0),
      radial-gradient(rgba(255,255,255, 0.7) 25%, transparent 0) !important;
    background-size: 3px 3px !important;
    background-position: 0 0, 15px 15px !important;
  }

  .mobileBar {
    color: white;
  }

  @media screen and (max-width: 670px) {

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    span {
      margin: 0 25% !important;
      font-size: 12px !important;
    }

    .mobileBar {
      color: transparent;
    }
  }

}

@keyframes draw{
  0%{height:0;}
}
